
.blog-suggest{
	padding:2%;
	
	padding-bottom:10%;	
}

.blog-suggest img{
	width:100%;	
}


.blog-suggest p{
	text-align:center;	
}


.blog-header{
	padding-top:5%;
	width:100%;
	color:lightgray;
	
}

.blog-author{
	position:relative;
	float:left;
	text-align:left;
	
}

.blog-date{
	position:relative;
	float:right;
	text-align:right;
}

.blog-list{
  padding:4%;
}

.blog-section{
  border-bottom: 1px solid lightgray;
}

.blog-section:hover{
  cursor: pointer;
  opacity: 0.7;
}

#banner{
  margin-top:-30%;
}

.blog-title{
	text-align:left;
	font-size:300%;
	font-weight:lighter;
	padding-bottom:5%;
	padding-top:10%;
	color:black;
	
}

.blog-content{
	font-weight:lighter;
	color:gray;
	text-align:left;
	font-size:120%;
	padding-bottom:10%;
}

#blog-image{
	 filter: grayscale(50%);
}