.fullscreen{
	top:60px;
}

.tagInput{
	position:relative;
	
}

.removeTag{
	position:absolute;
	top:0;
	right:0;
	border:none;
	background:transparent;
	color:red;
	font-size: 150%;
    font-weight: bold;
	outline:none;
}
